<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyC_dDJOnGvwRTY3GUv8PuyoL-o_Z8w9vsg</string>
	<key>GCM_SENDER_ID</key>
	<string>1020696377613</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.hysatech.whereshot</string>
	<key>PROJECT_ID</key>
	<string>whereshot-edd4b</string>
	<key>STORAGE_BUCKET</key>
	<string>whereshot-edd4b.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1020696377613:ios:4c288087aca2d875a45844</string>
</dict>
</plist>